.d_tables, .d_table{
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 2em 0;
    min-width: 60%;
    font-size: 0.8em; 
    // position: relative;
    // height: 400px;
    thead{
        // position: fixed;
        // top: 0;
    }
    tbody{
        // height: 90vh;
        // overflow-y: scroll;
    }
    thead tr{
        text-align: left;
        font-weight: bold;
    }
    th{
        padding: 1.2em 1em 1.2em 1em;
        min-width: 10%;
        border-bottom: 1px solid #c7c4c4b5;
        border-top: 1px solid #c7c4c4b5;
    }
    td{
        padding: 1.2em 1em;
        width: 10%;
        border-bottom: 1px solid #c7c4c4b5;
    }
    tbody tr:nth-of-type(even){
        background-color: #f2f2f2b5;
    }
    tbody td:first-child, thead th:first-child{
        width: 3%;
    }
    tbody td:nth-child(5), thead th:nth-child(5){
        width: 5%;
    }
    tbody td:nth-child(2), thead th:nth-child(2){
        width: 12%;
    }
    tbody{
        overflow: hidden;
    }
    .qty{
        outline: none;
        border: none;
        background-color: transparent;
        width: 50%;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
    input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        appearance: none;
        /* For iOS < 15 to remove gradient background */
        background-color: #fff;
        /* Not removed via appearance */
        margin: 0;
      }
      .form-control {
        font-family: system-ui, sans-serif;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.1;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 0.5em;
      }
      input[type="checkbox"] {
        appearance: none;
        background-color: #c7c4c4b5;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 0.6em;
        height: 0.6em;
        border: 0.04em solid #c7c4c4b5;
        border-radius: 0.1em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
      }
      input[type="checkbox"]::before {
        content: "";
        width: 0.5em;
        height: 0.5em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #19498a;
        background-color: CanvasText;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      }
      
      input[type="checkbox"]:checked::before {
        transform: scale(0.5);
      }
      button{
        background-color: transparent;
        border: none;
      }

    //   .form-control + .form-control {
    //     margin-top: 1em;
    //   }
}
.d_table{
    margin: 0;
    td{
        border-bottom: none;
    }
  }